<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Springs and Swimming Holes of Florida</title>
		 <link
			href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&family=Merriweather:wght@700&display=swap"
			rel="stylesheet"
		/> 
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="../public/css/style.css" />
		<link rel="shortcut icon" href="#">
	</head>

    <body class="body-background">
        <nav class="navbar navbar-expand-lg navbar-light spring-card">
            <a class="navbar-brand" href="#">
                <img src="../public/images/logo.png" width="50" height="50" alt="">
              </a>
            <a class="navbar-brand" href="#">Springhunters</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="modal" data-target="#loginModal">Login/Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-none" href="#">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  data-toggle="modal" data-target="#newSpringModal">Submit a new spring</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Select a Spring
                    </a>
                    <div class="dropdown-menu" id="dropdown" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Populate</a>
                      <a class="dropdown-item" href="#">Me</a>
                      <a class="dropdown-item" href="#">With javascript</a>
                    </div>
                </li>
            </div>
          </nav>

		  <div class="card mt-5">
			<div class="card-header">
			  <ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item">
				  <a class="nav-link active" href="#">User Administration</a>
				</li>
			  </ul>
			</div>
			<div class="card-body container">


            				<div class="row align-items-start">
				<div class="col w-25">
					<form>
						<div class="form-group">
							<label for="exampleInputUsername">{{user.username}}</label>
							<input type="text" class="form-control" id="exampleInputUsername" aria-describedby="usernameHelp" placeholder="Enter username">
							<button type="submit" class="btn btn-primary mt-2">{{user.Submit}}</button>
						</div>
					</form>
					<form>
						<div class="form-group">
							<input type="text" id="id" aria-describedby="id" placeholder="id">
							<label for="id">id</label>
							<input type="text" id="first_name" aria-describedby="first_name" placeholder="first_name">
							<label for="first_name">{{user.first_name}}</label>
							<input type="text" id="last_name" aria-describedby="last_name" placeholder="last_name">
							<label for="last_name">{{user.last_name}}</label>
							<input type="text" id="username" aria-describedby="username" placeholder="username">
							<label for="username">{{user.username}}</label>
							<input type="text" id="pass_word" aria-describedby="pass_word" placeholder="pass_word">
							<label for="pass_word">{{user.password}}</label>
							<input type="text" id="permissions" aria-describedby="permissions" placeholder="permissions">
							<label for="permissions">{{user.permissions}}</label>
							<input type="text" id="customer_level" aria-describedby="customer_level" placeholder="customer_level">
							<label for="customer_level">{{user.customer_level}}</label>
							<input type="text" id="zipcode" aria-describedby="zipcode" placeholder="zipcode">
							<label for="zipcode">{{user.zipcode}}</label>
							<input type="text" id="email" aria-describedby="email" placeholder="email">
							<label for="email">{{user.email}}</label>
							<button type="submit" class="btn btn-primary mt-2">{{user.Submit}}</button>
						</div>
					</form>
				</div>	
				<div class="col w-75">
					
				</div>
			</div>
		  </div>
		  <div class="card text-center mt-5">
			<div class="card-header">
			  <ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item">
				  <a class="nav-link active" href="#">{{New spring submissions}}</a>
				</li>
			  </ul>
			</div>
			<div class="card-body">
				<div class="card"></div>
				
			</div>
		  </div>
	</body>
	<div class="modal-body">