<div class="row mt-5 m-1">
	<div class="card border border-rounded shadow spring-card flex-grow-1 p-2 m-1">
		<h2 class="text-center">Site Administration</h2>
		<p><a href="./useradmin">User Administration</a></p>
		<p><a href="./springadmin">Spring Administration</a></p>
		{{!-- {{#each springs as |spring| }}
		<div>
			<p>test {{spring.name}} </p>
			<p>test {{spring.description}} </p>
			<p>test {{spring.zipcode}} </p>
			<p>pets {{spring.pets}} </p>
			<p>statepark {{spring.statepark}} </p>
			<p>camping {{spring.camping}} </p>
		</div>
		{{/each}} --}}
	</div>
</div>