

            <div class="row align-items-start">
				<div class="col w-25">
					<form>
						<div class="form-group">
							<label for="exampleInputUsername">{{user.username}}</label>
							<input type="text" class="form-control" id="exampleInputUsername" aria-describedby="usernameHelp" placeholder="Enter username">
							<button type="submit" class="btn btn-primary mt-2">{{user.Submit}}</button>
						</div>
					</form>
					<form>
						<div class="form-group">
							<input type="text" id="id" aria-describedby="id" placeholder="id">
							<label for="id">id</label>
							<input type="text" id="first_name" aria-describedby="first_name" placeholder="first_name">
							<label for="first_name">{{user.first_name}}</label>
							<input type="text" id="last_name" aria-describedby="last_name" placeholder="last_name">
							<label for="last_name">{{user.last_name}}</label>
							<input type="text" id="username" aria-describedby="username" placeholder="username">
							<label for="username">{{user.username}}</label>
							<input type="text" id="pass_word" aria-describedby="pass_word" placeholder="pass_word">
							<label for="pass_word">{{user.password}}</label>
							<input type="text" id="permissions" aria-describedby="permissions" placeholder="permissions">
							<label for="permissions">{{user.permissions}}</label>
							<input type="text" id="customer_level" aria-describedby="customer_level" placeholder="customer_level">
							<label for="customer_level">{{user.customer_level}}</label>
							<input type="text" id="zipcode" aria-describedby="zipcode" placeholder="zipcode">
							<label for="zipcode">{{user.zipcode}}</label>
							<input type="text" id="email" aria-describedby="email" placeholder="email">
							<label for="email">{{user.email}}</label>
							<button type="submit" class="btn btn-primary mt-2">{{user.Submit}}</button>
						</div>
					</form>
				</div>	
				<div class="col w-75">
					
				</div>
			</div>
		  </div>
		  <div class="card text-center mt-5">
			<div class="card-header">
			  <ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item">
				  <a class="nav-link active" href="#">{{New spring submissions}}</a>
				</li>
			  </ul>
			</div>
			<div class="card-body">
				<div class="card"></div>
				
			</div>
		  </div>
	</body>
	<div class="modal-body">