{{#each springs as |spring| }}
<div class="card border border-rounded shadow spring-card flex-grow-1 p-2 m-1">
    <h2>Your request to add a new spring is being reviewed by a site administrator.  New requests are usually aproved within 24 hours.</h2>
	<h3>Spring Name</h3>
	<p id="spring">{{spring.name}}</p>
	<h3>Description</h3>
	<p id="desc">{{spring.description}}</p>
	<h3>Camping</h3>
	<p id="camp">{{spring.camping}}</p>
	<h3>Pet Friendly</h3>
	<p id="pet">{{spring.pets}}</p>
	<h3>Zipcode:</h3>
	<p id="address">{{spring.zipcode]}}</p>
</div>

{{/each}}