<div class="row mt-5 m-1">
  <div class="card box border border-rounded shadow spring-card flex-grow-1 p-2 m-1">

  
    <h2>Welcome, {{user.name}}!</h2>
    <table>
      <tr>
        <td>First Name:</td><td>{{user.first_name}}</td>
        <td>Last Name:</td><td>{{user.last_name}}</td>
        <td>Email:</td><td>{{user.email}}</td>
        <td>Zipcode:</td><td>{{user.zipcode}}</td>
      </tr>
    </table>

    <form class="profile-form">
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Update</button>
      </div>
    </form>
  
</div>

  <div class="row-md-6">
    <h3>Your Profile:</h3>
    <p>Username: {{user.name}}</p>
    <p>Email: {{user.email}}</p>
  </div>

  <form action="/profile/update-password" method="post">
  <div class="form-group pw">
    <label for="oldPassword">Old Password:</label>
    <input type="oldPassword" id="oldPassword" name="oldPassword" required>
    <label for="password">New Password:</label>
    <input type="password" id="password" name="password" required>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Update Password</button>
    </div>
  </form>

  <h4>Rated Springs:</h4>
    <ul>
      {{#each ratedSprings}}
      <li>{{this.name}}</li>
      {{/each}}
    </ul>

  <h4>Commented Springs:</h4>
      <ul>
      {{#each commentedSprings}}
       <li>{{this.name}}</li>
       {{/each}}
      </ul>
    </div>
  </div> 
  </div>
</div>
</form>
  {{!-- {{#if springs.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each springs as |spring|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/spring/{{spring.id}}">{{spring.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{spring.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div> --}}
</div>
</div>


<script src="./js/profile.js"></script>
