<div class="card border border-rounded shadow spring-card flex-grow-1 p-2 m-1">
	<h2>The following springs are pending review by an administrator. New requests are usually aproved within 24 hours.
	</h2>
</div>
{{!-- admin page --}}
{{#each springs as |spring| }}

<div class="card border border-rounded shadow spring-card flex-grow-1 p-2 m-1">
	<h3>Spring Name</h3>
	<p id="spring">{{spring.name}}</p>
	<h3>Description</h3>
	<p id="desc">{{spring.description}}</p>
	<h3>Camping</h3>
	<p id="camp">{{spring.camping}}</p>
	<h3>Pet Friendly</h3>
	<p id="pet">{{spring.pets}}</p>
	<h3>Zipcode:</h3>
	<p id="zip">{{spring.zipcode}}</p>
	<h3>State Park:</h3>
	<p id="statepark">{{spring.statepark}}</p>
</div>

{{/each}}