
<div class="row">
		<div class="container spring-card mt-5">
			<h3 class="text-center" id="parkname">{{springs.name}}</h3>
			<img src="../.{{springs.image_url}}" class="w-25 img-thumbnail" alt="an image of a spring">

		<div class="col-sm">

			<ul class="springs-list">
				<li id="{{springs.id}}">{{springs.description}}</li>
				<li id="distance">Distance to spring</li>
				<li id="{{springs.fee}}">Admission Fees
					{{springs.fee}}
				</li>
				<li id="{{springs.pets}}">Pets {{springs.pets}}</li>
				<li id="{{springs.stateparks}}">State Park? {{springs.stateparks}}</li>
				<li id="{{springs.camping}}">Camping? {{springs.camping}}</li>
				<li id="{{springs.scuba}}">Scuba Diving Allowed {{springs.scuba}}</li>
				<li id="rating">My rating
					<!-- creates a personal star rating -->
				<div class="rating">
  					<span><input class="five-pointed-star" name="rating" id="str5" value="5">5<label for="str5"></label></span>
  					<span><input class="five-pointed-star" type="radio" name="rating" id="str4" value="4">4<label for="str4"></label></span>
  					<span><input class="five-pointed-star" type="radio" name="rating" id="str3" value="3">3<label for="str3"></label></span>
  					<span><input class="five-pointed-star" type="radio" name="rating" id="str2" value="2">2<label for="str2"></label></span>
  					<span><input class="five-pointed-star" type="radio" name="rating" id="str1" value="1">1<label for="str1"></label></span>
					</div>
					</div>
				<article id="map" class=" springs-container bg-danger">Map</article>
				<div class="col-sm">
						<article  class="springs-container bg-custom ">
						<h3 id="city" class="text-center">Test weather</h3>
						<p id="weather" class="text-center"></p>
						<p class="text-center">
						<span class="text-center" id="temperature"></span>
						<span id="condition"></span>
						</p>
						<p id="springZip"class="hidden">{{springs.zipcode}}</p>
						<p id="springlat"class="hidden">{{springs.lat}}</p>
						<p id="springlng"class="hidden">{{springs.lng}}</p>
					</article>

					
			
		</div>
		</div>

		
		
  	</div>
</div>
  <script async await type="module"  src="../../js/mapScript.js"></script>
  <script async await type="module"  src="../../js/springs.js"></script>


