<div class="card border border-rounded shadow spring-card flex-grow-1 p-2 m-1">
	<h2>User administration</h2>
</div>
{{!-- user page for admin --}}
{{#each users as |user| }}

<div class="card border border-rounded shadow spring-card flex-grow-1 p-2 m-1">
	<h3>User Name: {{user.username}}</h3>
	<p id="spring">{{user.username}}</p>
	<h3>First Name:</h3>
	<p id="desc">{{user.first_name}}</p>
	<h3>Last Name:</h3>
	<p id="camp">{{user.last_name}}</p>
	<h3>Email:</h3>
	<p id="pet">{{user.email}}</p>
	<h3>Permissions:</h3>
	<p id="zip">{{user.permissions}}</p>
	<h3>Customer Level:</h3>
	<p id="statepark">{{user.customer_level}}</p>
	<h3>Zipcode:</h3>
	<p id="statepark">{{user.zipcode}}</p>
</div>

{{/each}}